<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create a new visualization</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="h-full w-min mx-auto p-16">
      <h1 class="font-bold text-3xl my-8 whitespace-nowrap">Create a new visualization</h1>
      <div class="my-8">
        <div id="link-fields"></div>
        <button id="add-link-field-button" class="bg-green-500 text-white px-4 py-2 my-1 rounded">Add another link</button>
      </div>
      <button id="generate-visualization-button" class="bg-blue-500 text-white px-4 py-2 rounded disabled:bg-gray-300">Generate the visualization</button>
    </div>

    <script type="module">
        const SHARE_LINK_PATTERN = '{{ nextcloud_base_url }}/index.php/s/(\\w+)'
        const LINK_CHECKER = RegExp(SHARE_LINK_PATTERN)

        function initializeLinkFields() {
            const trackIds = new URLSearchParams(window.location.search).getAll('track')
            if (!trackIds.length) {
                addLinkField()
            } else {
                for (const trackId of trackIds) {
                    addLinkField(`{{ nextcloud_base_url }}/index.php/s/${ trackId }`)
                }
            }
        }

        function addLinkField(value = null) {
            const newLinkField = document.createElement('input')
            newLinkField.name = 'link-field'
            newLinkField.type = 'text'
            newLinkField.placeholder = '{{ nextcloud_base_url }}/index.php/s/...'
            newLinkField.classList.add('border', 'p-2', 'w-full', 'my-1', 'outline-none', 'focus:border-blue-500', 'focus:invalid:border-pink-500', 'invalid:border-pink-500')
            newLinkField.pattern = SHARE_LINK_PATTERN
            newLinkField.addEventListener('input', validate_all_link_fields)
            newLinkField.value = value

            document.getElementById('link-fields').appendChild(newLinkField)
        }

        function validate_all_link_fields() {
            var any_field_has_content = false
            var no_field_is_invalid = true

            for (const linkField of document.getElementsByName('link-field')) {
                if (!!linkField.value) {
                    any_field_has_content = true
                }
                if (!!linkField.value && !LINK_CHECKER.test(linkField.value)) {
                    no_field_is_invalid = false
                }
            }

            const submitButton = document.getElementById('generate-visualization-button')
            if (any_field_has_content && no_field_is_invalid) {
                submitButton.removeAttribute('disabled')
            } else {
                submitButton.setAttribute('disabled', true)
            }
        }

        function generateVisualization() {
            const trackIds = new Set()
            for (const linkField of document.getElementsByName('link-field')) {
                const trackMatch = linkField.value.match(SHARE_LINK_PATTERN)
                if (trackMatch) {
                    trackIds.add(trackMatch[1])
                }
            }
            const trackParams = Array.from(trackIds).map(id => `track=${id}`).join('&')
            window.location.href = `/?${trackParams}`
        }

        document.getElementById('add-link-field-button').addEventListener('click', () => addLinkField());
        document.getElementById('generate-visualization-button').addEventListener('click', generateVisualization);

        // Add initial link fields
        initializeLinkFields()
        validate_all_link_fields()
    </script>
  </body>
</html>
