<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create a new visualization</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="h-full w-min mx-auto p-16">
      <h1 class="font-bold text-3xl my-8 whitespace-nowrap">Create a new visualization</h1>
      <div class="my-8">
        <div id="link-fields"></div>
        <button id="add-link-field-button" class="bg-green-500 text-white px-4 py-2 my-1 rounded">Add another link</button>
      </div>
      <button id="generate-visualization-button" class="bg-blue-500 text-white px-4 py-2 rounded">Generate the visualization</button>
    </div>

    <script type="module">
        function addLinkField() {
            const newLinkField = document.createElement('input')
            newLinkField.name = 'link-field'
            newLinkField.type = 'text'
            newLinkField.placeholder = 'Paste a Nextcloud share link'
            newLinkField.classList.add('border', 'p-2', 'w-full', 'my-1', 'outline-none', 'focus:border-blue-500', 'focus:invalid:border-pink-500', 'invalid:border-pink-500')
            newLinkField.pattern = 'https://cloud.execvebin.sh/index.php/s/\\w+'

            document.getElementById('link-fields').appendChild(newLinkField)
        }

        function generateVisualization() {
            for (const linkField of document.getElementsByName('link-field')) {
                console.log(linkField.value)
            }
        }

        document.getElementById('add-link-field-button').addEventListener('click', addLinkField);
        document.getElementById('generate-visualization-button').addEventListener('click', generateVisualization);

        // Add initial link field
        addLinkField()
    </script>
  </body>
</html>
